/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100vh;
}
.date-nav {
    display: flex;
    align-items: center;
}

.fixed-height {
    height: 94%;
}

.date-title {
    font-size: 3rem;
    text-transform: uppercase;
}

.scrollable {
    height: 100%;
    overflow-y: auto;
}