<div class="row fixed-height">
    <div class="col-1 date-nav fixed-height">
      <a class="btn btn-outline-dark" routerLink="/meetings/{{previousDateText}}">
        <i class="fa fa-chevron-left"></i>
      </a>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-12 date-title text-center">
          {{ getDateText() }}
        </div>
      </div>
      <div class="row">
        <div class="col-5 scrollable">
          <p class="text-center date-title">Todo</p>

          <div class="text-center">
            <a class="btn btn-outline-info" routerLink="/meeting-form">+</a>
          </div>

          <div *ngFor="let meeting of meetings">
            <app-meeting [meeting]="meeting" *ngIf="!meeting?.isDone"></app-meeting>
          </div>

        </div>

        <div class="col-5 offset-2 scrollable">
          <p class="text-center date-title">Done</p>

          <div *ngFor="let meeting of meetings">
            <app-meeting [meeting]="meeting" *ngIf="meeting?.isDone"></app-meeting>
          </div>

        </div>
      </div>
    </div>
    <div class="col-1 date-nav">
      <a class="btn btn-outline-dark" routerLink="/meetings/{{nextDateText}}">
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>
</div>